/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f9ff;
}

/* HEADER */
header {
    background-color: #0b5ed7;
    color: white;
    text-align: center;
    padding: 20px;
}

/* NAVIGATION */
nav {
    background-color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #0b5ed7;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* HOME SECTION */
.hero {
    text-align: center;
    padding: 40px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    width: 160px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* CONTENT PAGES */
.content {
    padding: 30px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #0b5ed7;
    color: white;
    text-align: center;
    padding: 10px;
}


